<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>About Us</title>
    {{ template "sitelogimage" }}
    
    <link href="/assets/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="/assets/css/aboutus.css?v=1.2">
    <style>
        body{
        background-image: url('/assets/Images/home_page_three.png');
        background-repeat: no-repeat;
        background-size: 100% 100%;
        background-attachment:fixed;
        margin: auto;
        font-weight: lighter;
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
    </style>
</head>
<body class="body">

    {{ template "Header"}}

    <div class="aboutus">
        <h1>About Us</h1>
        <p>
           Oceries University College of Metaphysical Sciences was established in 2024 and the first intake of students took place on 1st September 2024. Oceries University offers online courses, through text, audio and video and currently has students coming from all corners of the world. Oceries University campus is based in Lusaka, Zambia where programmes are coordinated. The Lusaka Campus has a Library, where registered Students can access material for their course.
        </p>
    </div>
    <div style="height: fit-content; width: 80%; position: relative; margin-left: auto; margin-right: auto;">
        

        <div style="margin: 30px; background-color: whitesmoke; width: 100%; position: relative; margin-left: auto; margin-right: auto;">
            <h1 style="color: white; background-color: rgb(64, 24, 84); height: 15vh; font-size: 1.3em;">OCERIES STRATEGIC PLAN</h1>

            <img src="/assets/Images/page1.png" style="width: 100%; margin-bottom: 10;"><br>
            <img src="/assets/Images/page2.png" style="width: 100%; margin-bottom: 10;"><br>

            <img src="/assets/Images/page3.png"  style="width: 100%; margin-bottom: 10;">
            <img src="/assets/Images/page4.png"  style="width: 100%; margin-bottom: 10;"><br>
            <img src="/assets/Images/page5.png"  style="width: 100%; margin-bottom: 10;"><br>
            <img src="/assets/Images/page6.png"  style="width: 100%; margin-bottom: 10;"><br>
            <img src="/assets/Images/page7.png"  style="width: 100%; margin-bottom: 10;"><br>
            <img src="/assets/Images/page8.png"  style="width: 100%; margin-bottom: 10;">


        </div>

    </div>

  
    
</body>

{{ template "footer" }}

</html>