<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="/assets/htmx.js"></script>
    <link rel="stylesheet" href="/assets/css/studentdata.css?v=1.0">
    {{ template "sitelogimage" }}

</head>
<body>


{{ define "changepassword_one"}}
    

    
    
    <div class="updatedivform" id="updatedivform">
    
    </div>

    <script>
        document.getElementById("updatedivform").innerHTML = "<div style='display: flex; justify-content: end;'> <button hx-get='/closeupdatedata' hx-target='#updatedivform' hx-swap='outerHTML'  class='closeuppdate'>X</button> </div> <form hx-post='/updtestudentpassword?email={{ .Email}}?uuid={{ .UUID}}'hx-target='#updateresponce'hx-swap='innerHTML'> <label for='old_password'>Old Password</label> <input type='password' name='old_password'> <label for='new_password'>New Password</label> <input type='password' name='new_password'> <label for='confirm'>Confirm New Password</label> <input type='password' name='confirm_password'> <button class='updateuser'>Save</button> </form> <div style='width: 100%; height: 15%;' id='updateresponce'> </div>"       
        htmx.process(document.body);
    </script>


{{ end }}


 
{{ define "updateresponce" }}
    <p style="color: white; text-align: center; font-size: 1.3em;">{{ .}}</p>

{{ end }}
</body>
</html>