
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Oceries University offers cources in Metaphysical Sciences">
    <link href="/assets/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="/assets/css/NewsContent.css?v=2.6">
    <link rel="stylesheet" href="/assets/css/curriculum.css?v=1.2">


    {{ template "sitelogimage" }}
   

    <script src="/assets/js/color-modes.js"></script>

    <title>Oceries University College</title>
    <style>
      body{
        background-image: url('news/26026630-09ef-4a90-8cab-9bbed9d4cad8.png');
        background-repeat: no-repeat;
        background-size: 100% 100%;
        background-attachment:fixed;
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;


      }
      .custom_two{
        background-color: rgba(251, 251, 251, .9);
        border-radius: 5px;
      }
      
    </style>
</head>
<body>
  <div class="">

    

    {{ template "Header"}}

    <div class="container custom_two my-5" id="loadContent">
        <div class="p-1 rounded">
          <div class="col-sm-8 py-5 mx-auto">
            <h1 class="display-5 fw-normal">Welcome To OUCMS</h1>
            <p class="fs-5">
			       Oceries University College of Metaphysical Sciences (OUCMS), was established with you in mind. Currently, people from world over are looking for knowledge that will improve their profession for them to reach their higher heights. Oceries University College does not restrict the courses for career adavancement only but also to improve their relationship not only with each other but the operations of the universe as well. 
              Oceries University is here to assist you getting the best job in the world or becoming an employer.  Oceries University is also here to awaken your purpose and mission on earth through the various courses that is offered. With such a realization, all will live in harmony. 
              The information that you will acquire from the Oceries University College of Metaphysical Sciences, will create a happy person in you, live a health life and easily get any employment that you will aspire in your life time or indeed becoming a successful business person. It is encouraged that every human being on earth MUST take at least one of  courses being offered by Ocerie is University, for life to be lived in full. Welcome to the awakened family!

            </p>
            
        </div>
        <div class="col-sm-8 py-5 mx-auto">
          <h1 class="display-5 fw-normal">About Us</h1>
          <p class="fs-5">
            Oceries University College of Metaphysical Sciences was established in 2024 and the first intake of students took place on 1st September 2024. Oceries University offers online courses, through text, audio and video and currently has students coming from all corners of the world. Oceries University campus is based in Lusaka, Zambia where programmes are coordinated. The Lusaka Campus has a Library, where registered Students can access material for their course.
            </p>
          
      </div>

      <div class="col-sm-8 py-5 mx-auto">
        <h1 class="display-5 fw-normal">Our Vision</h1>
      
        <P class="fs-5">To awaken humanity to understand their purpose and mission on Earth through pursuit of Knowledge, Research and Innovation.</p>

        
      </div>

      <div class="col-sm-8 py-5 mx-auto">

        <h1>Our Mission</h1>
        <p class="fs-5">To provide relevant tertiary education to all those seeking to be enlightened.</p>

        </div>
        <div class="col-sm-8 py-5 mx-auto">
        
          <h1>Core Values</h1>
          <div class="program">
            <div class="cource_list">
        
              <div class="cource">
                Alternative thinking
              </div>
              <div class="cource">
                Academic Freedom
              </div>
               <div class="cource">
                Innovativeness
              </div>
              <div class="cource">
                Integrity
              </div>
             
              <div class="cource">
                Excellence
              </div>
        
              <div class="cource">
                Honesty
              </div>
        
              <div class="cource">
                Fairness
              </div>
              <div class="cource">
                equity
              </div>
        
              
            </div>
        
           </div>
         
        </div>
      </div>
       
      </div>


      </div>
    </div>
    <script src="/assets/js/bootstrap.bundle.min.js"></script>

</body>
{{template "footer"}}
</html>

{{ define "sitelogimage"}}
<link rel="icon" type="image/png" href="/assets/Images/favicon.png">
{{ end }}

