

<link rel="stylesheet" href="/assets/css/studentdetails.css">
<div class="program_details">
    <h5 class="program_name">Award of Certificate in Metaphysical Sciences</h5>
    
    <div class="program_table">
        <table>
            <thead>
            <tr>
                <th>#</th>
                <th>First Name</th>
                <th>Last Name</th>
                <th>Email</th>
                <th>Permision</th>
                <th>Password</th>
            </tr>
            </thead>
            <tbody>
                <tr>
                    <td>1</td>
                    <td>Communication Skills</td>
                    <td>Pedding</td>
                    <td>Pedding</td>
                    <td>Pedding</td>
                    <td>Pedding</td>
                </tr>
                
            </tbody>
        </table>
    
        <div class="update_div">

            <div class="update_btn">
                <p>Update Lectura Details</p>
            </div>

        </div>
    </div>

        
</div>

{{define "createlecturera"}}

{{end}}