<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Completed</title>
    {{ template "sitelogimage" }}
    
    <style>
        .message{
            width: 70%;
            height: 45vh;
            border: solid 1px rgb(32, 0, 62);
            border-radius: 5px;
            margin-left: auto;
            margin-right: auto;
            position: relative;
            text-align: center;
        }
    </style>
</head>
<body>
    <div class="message">
        <h3>PHD</h3>
        <P>PHD Studies Still Pendings</P>
    </div>
</body>
</html>