<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Program Advancment</title>
    <link rel="stylesheet" href="/assets/css/programad.css?v=1.5">
    <script src="/assets/htmx.js"></script>
    <style>
        
    </style>
</head>
<body>
   
    <div class="registrationapproval">
        
      
        

            
           
            <div class="messageapproved">
                <div class="messagetext">
                    <h1>Sorry</h1>
                    <div class="checkmark">
                        <img src="/assets/Images/question.png" alt="question">
                    </div>
                    <p>Application for advancement was sent</p>
                    <p>Please contact the institution if your approval for advansment was not confirmed </p>
                </div>
                
            
            </div>

    

           
      
        
       

        
    </div>
</body>
</html>