{{define "admstemplate"}}

<div class="program_details">
    <h5 class="program_name">Award of Diploma in Metaphysical Sciences</h5>
    
    <div class="program_table">
        <table>
            <thead>
            <tr>
                <th>#</th>
                <th>Course Name</th>
                <th>Exam Result</th>
            </tr>
            </thead>
            <tbody>
                <tr>
                    <td>1</td>
                    <td>Communication Skills</td>
                    <td>Pedding</td>
    
                </tr>
                <tr>
                    <td>2</td>
                    <td>Public Speaking</td>
                    <td>Pedding</td>
    
                </tr><tr>
                    <td>3</td>
                    <td>Intuition</td>
                    <td>Pedding</td>
    
                </tr>
                <tr>
                    <td>4</td>
                    <td>Understanding Religions of the World</td>
                    <td>Pedding</td>
    
                </tr><tr>
                    <td>5</td>
                    <td>Public Relations</td>
                    <td>Pedding</td>
    
                </tr><tr>
                    <td>6</td>
                    <td>Anger Management</td>
                    <td>Pedding</td>
    
                </tr><tr>
                    <td>7</td>
                    <td>Connecting With Angels</td>
                    <td>Pedding</td>
    
                </tr>
                <tr>
                    <td>8</td>
                    <td>Critical Thinking</td>
                    <td>Pedding</td>
    
                </tr>
                <tr>
                    <td>9</td>
                    <td>Financial Education</td>
                    <td>Pedding</td>
    
                </tr>
            </tbody>
        </table>
    
        <div class="update_div">

            <div class="update_btn">
                <p>Update Program Data</p>
            </div>

        </div>
    </div>

        
</div>

{{end}}